.section-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 55px;
    background: #dfddd9;
}
.section-form h2{
    color: #000000;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
form label{
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.1rem #000000;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    border-color: #000000;
    box-shadow: 0 0 0 0.1rem #000000;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    border-radius: 0.5rem;
}
form textarea:focus{
    border-radius: 16px;
}

form textarea:hover,
form input:hover{
    border-color: #000000;
    box-shadow: 0 0 0 0.1rem #000000;
    outline: none;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    transition: all 1s;
    margin-bottom: 20px;
    border-radius: 2rem;
}

.button-contato {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    transition: all 1s;
    margin-bottom: 20px;
    border-radius: 2rem;
}

    .button-contato:hover{
    background: #f5f5f554;
    border-radius: 16px;
}

form button:hover{
    background: #f5f5f554;
    border-radius: 16px;
}

@media (max-width: 900px) {
    .form {
        min-width: 100%;
    }

    section form{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    body {height: 100rem;}
}